ul,ol,li{
    list-style-type:none;
    margin: 0;padding: 0;
  }
  h4,h3,p{margin: 0;}
  .Home{
    width:100%
  }
  .mainbox{
    display: block;
    width:100%;
    position:fixed;top:0;bottom:0;right:0;left:0;z-index:-1;
  }
  .Home_Content,.Home-H5{
    width:100%;
  }
  .Home_banner{
    width:100%;
    height:690px;
    text-align: center;
    color: #fff;
  }
  .Home_banner h3{
    margin: 0;
    margin-top:340px;
    font-size: 74px;
    font-weight: 500;
    letter-spacing: 14px;
  }
  .Home_banner p{
    margin-top: 15px;
    font-size: 26.92px;
    font-weight: 200;
    letter-spacing: 5px;
    margin-left: -10px;
  }
  .Home_banner p span{
    padding:0 10px;
  }
  .Home_bannerA a{
    display: inline-block;
    width:200px;
    height:45px;
    text-align: center;
    line-height: 45px;
    border: 1px solid #fff;
    font-size: 16px;
    margin: 32px 10px;
    cursor: pointer;
    color:#fff;
  }
  .Home_bannerA a:first-child{
    margin-left: -5px;
  }
  .Home_bannerA a:hover{
    background: #fff;
    color:#181818;
  }
  .Home_bannerBT{
    width: 100%;
    text-align: center;
    margin: auto;
    position: absolute;
    bottom:20px;
    padding-bottom: 90px;
    padding-top: 296px;
  }
  .Home_bannerBT div{
    width:19px;
    height:35px;
    line-height: 35px;
    text-align: 19px;
    border-radius: 50px;
    border: 1px solid #fff;
    margin: auto;
  }
  .Home_bannerBT span{
    width: 21px;
    text-align: center;
    display: inline-block;
    margin: auto;
    -webkit-animation: gogogo1 2.5s infinite linear;
    animation: gogogo1 2.5s infinite linear;
    -moz-animation: gogogo1 2.5s infinite linear;
    margin-top: 18px;
  }
  .Home_bannerBT span img{
    width: 70%;
    margin-right: 1px;
  }
  @keyframes gogogo1 { 
    0% {             
        transform: translate(0px, 0px);            
    }            
    50% {                
        transform: translate(0px, -10px);            
    }            
    100% {                
        transform: translate(0px, 0px);
    }
  }
  .Home-Cont1{
    width:100%;
    background: #fff;
    height: 637px;
  }
  
  .Home_Top h4{
    margin: 0;
    font-size: 74px;
    color:#ececec;
    letter-spacing: 4px;
    font-family: Arial;
  }
  .Home_Top p{
    margin: 0;
    font-size: 35px;
    color: #000;
    margin-top: -59px;
    letter-spacing: 3px;
  }
  .Home_Top{
    padding-top: 120px;
    width: 100%;
    padding-bottom: 77px;
    text-align: center;
  }
  .Cont1_bot p{
    width:965px;
    margin: auto;
    text-align: center;
    line-height: 36px;
  }
  .Cont1_bot a{
      display: block;
      width: 196px;
      height:41px;
      text-align: center;
      line-height: 41px;
      border:2px solid #7f7f7f;
      color:#000;
      margin: auto;
      margin-top: 70px;
      font-size: 16px;
      cursor: pointer;
  }
  .Cont1_bot a:hover{
    background: #7f7f7f;
    color: #fff;
  }
  .Home-Cont2{
    background: #eee;
    padding-bottom: 122px;
  }
  .Home-Cont2 .Home_Top h4{
    color:#dbdada
  }
  .Cont2_bot{
    width:1200px;
    margin:auto;
  }
  .bg-purple .Cont2_bot_left{
    width:240px;
    height: 634px;
    position: relative;
    float: left;
  }
  .bg-purple .Cont2_bot_left .img{
    width: 100%;
    height: 100%;
  }
  .bot_left_bottom{
    width: 100%;
    height:174px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left:0;
    bottom: 0;
  }
  .bot_left_bottom p{
    color:#b9b9b9;
    text-align: left;
    padding-left:36px;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    height: 43px;
    line-height: 43px;
    font-size: 14px;
    color: #fff;
  }
  .bot_left_bottom p a{
    color:#fff;
  }
  .bot_left_bottom p:hover{
    color:#fff;
    padding-left:52px;
    transition: all 0.5s ease 0s;
  }
  .bot_left_bottom p img{
    vertical-align: middle;
    margin-left: 15px;
  }
  .Cont2_bot_right{
    float: left;
    padding: 0 15px;
    width: 360px;
    text-align: left;
  }
  .Cont2_bot_right h4{
    font-size: 20px;
    font-weight:400;
  }
  .bot_right_div1:hover h4{
    color:#ba131a;
  }
  .Cont2_bot_right p{
    line-height: 20px;
    margin-top: 10px;
    color: #666;
    font-size: 15px;
  }
  .bot_right_div1{
    margin-top: 40px;
  }
  .bot_right_div1:first-child{
    margin-top: 10px;
  }
  .bot_right_div2{
    width:483px;
    height: 342px;
    position: relative;
  }
  .right_div2_lefc{
    width:152px;
    height:100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    left: 0;
    top:0;
  }
  .right_div2_lefc ul li{
    height:39px;
    line-height: 39px;
    text-align: center;
    margin: auto;
    border-bottom: 1px solid #333;
  }
  .right_div2_lefc ul li a{
    display: inline-block;
    height: 39px;
    line-height: 39px;
    text-align: center;
    margin: auto;
    color: #fff;
    text-decoration:none;
    font-size: 14px;
    color: #b9b9b9;
  }
  .right_div2_lefc ul li:hover{
    background: #c60716;
    cursor: pointer;
    padding-left: 30px;
  }
  .right_div2_lefc ul li:hover a{
    color: #fff;
  }
  .right_div2_lefc ul .li1:hover{
    padding-left: 0;
    background:none;
  }
  .right_div2_lefc ul li img{
    vertical-align: middle;
    margin-left: 10px;
  }
  .bot_right_div2Bottm{
    width: 483px;
  }
  .bot_right_div2Bottm li .span1{
    float: left;
  }
  .bot_right_div2Bottm li .span2{
    float: right;
  }
  /* .bot_right_div2Bottm li{
    height:30px;
    line-height: 30px;
    border:1px solid #c7c7c7;
    border-top:0px;
    padding: 20px;
  } */
  .el-collapse-item__content{
    padding: 20px;
    padding-bottom: 0;
  }
  
  .el-collapse-item div{
    text-align: left;
  }
  .Home-Cont3{
    background: #fff;
    padding-bottom:100px;
  }
  .Home-Cont3-IMG{
    width:1200px;
    height:530px;
    margin: auto;
    position: relative;
    background: #000;
  }
  .Home-Cont3-IMG img{
    width: 100%;
    height: 100%;
  }
  .Home-Cont3-word{
    width: calc(100% - 75px);
    height:214px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: left;
    padding-left: 75px;
  }
  .Home-Cont3-word p{
    font-size: 24px;
    color: #fff;
  } 
  .Home-Cont3-word p:first-child{
    padding-top:70px;
  }
  .Home-Cont3-word p:last-child{
    padding-top:35px;
    font-size: 16px;
  }
  .Home-Cont3-word p>a{
    cursor: pointer;
    color: #fff;
  }
  .Home-Cont3-word p>a:hover{
    text-decoration:underline;
  }
  .Home-Cont3-word p>a:last-child{
  padding-left:50px;
  }
  .Home-Cont3-mask{
    width: 100%;
    height:100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color:rgba(0,0,0,0.1) ;
  }
  .Home-Cont4{
    background: #eee;
    width:100%;
    margin: auto;
    padding-bottom:120px;
  }
  .Home-Cont4 h4{
    color: #dbdada;
  }
  .Home-Cont4 .el-row{
    width:1200px;
    margin: auto;
  }
  .Home-Cont4 .el-row .el-col{
    background: #fff;
    height:428px;
    width: 280px;
    margin: 0 10px;
    cursor: pointer;
  }
  .Home-Cont4 .Cont4_top{
    height: 355px;
    text-align: center;
  }
  .Home-Cont4 .Cont4_top .pand_35{
    padding-top:35px;
  }
  .Home-Cont4 .Cont4_top .ft_18{
    font-size:18px;
  }
  .Home-Cont4 .Cont4_top .ft_22{
    font-size: 30px;
    font-family: cursive;
    font-weight: 600;
  }
  .Home-Cont4 .Cont4_top .ft_24{
    font-size:24px;
  }
  .Home-Cont4 .Cont4_top .ft_18{
    font-size:18px;
  }
  .Home-Cont4 .Cont4_top .pand_20{
    padding-top:20px;
  }
  .Home-Cont4 .Cont4_top .pand_15{
    padding-top: 15px;
  }
  .Home-Cont4 .Cont4_top img{
    margin-top:40px;
  }
  .Home-Cont4 .Cont4_bottm{
    height: 74px;
    text-align: center;
    background: #a3a3a3;
    color:#fff;
  }
  .Home-Cont4 .Cont4_bottm p{
    padding-top:10px
  }
  .Home-Cont4 .Cont4_bottm h4{
    color:#fff;
    padding-top:10px
  }
  .Home-Cont4 .el-col:hover .Cont4_bottm{
    background: #c50c02;
  }
  .Home-Cont5{
    width:100%;
    background: #fff;
    padding:120px 0;
  }
  .Home-Cont5_top{
    width:1200px;
    margin: auto;
    background: url('../BG.png') no-repeat center;
    cursor: pointer;
  }
  .Home-Cont5 .el-col-12{
   text-align: center;
  }
  .Home-Cont5_top .el-row:last-child{
    padding-top: 116px;
  }
  .Home-Cont5 .el-col-12 p{
    width:165px;
    margin: auto;
    font-size: 15px;
    line-height: 30px;
    padding-top: 5px;
  }
  .Home-H5{
    width:100%;
    height:100%;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
}
.h5_BG1{
    width:100%;
    height: 100%;
    color:#fff;
    text-align: center;
    background: url('../H5_BG1.png') no-repeat;
    background-size: cover;
}
.h5_BG2{
    width:100%;
    height: 100%;
    color:#fff;
    text-align: center;
    background: url('../bg_lbsuo.png') no-repeat;
    background-size: cover;
}
.h5_BG3{
    width:100%;
    height: 100%;
    color:#fff;
    text-align: center;
    background: url('../bg_licheng.png') no-repeat;
    background-size: cover;
}
.h5_BG4{
    width:100%;
    height: 100%;
    color:#fff;
    text-align: center;
    background: url('../bg_hexin.png') no-repeat;
    background-size: cover;
}
.h5_BG5{
  width:100%;
  height: 100%;
  color:#fff;
  text-align: center;
  background: #1f1f27;
  background-size: cover;
}
.h5_BG6{
  width:100%;
    height: 100%;
    color:#fff;
    text-align: center;
    background: url('../case.png') no-repeat;
    background-size: cover;
}
.h5_BG7{
  width:100%;
    height: 100%;
    color:#fff;
    text-align: center;
    background: url('../rongyu_bg.png') no-repeat;
    background-size: cover;
}
.h5_BG8{
  width:100%;
  height: 100%;
  color:#fff;
  text-align: center;
  background: url('../about_bg.png') no-repeat;
  background-size: cover;
}
.h5_BG2 p{
  padding: 0 30px;
  color: #000;
  font-size: 13px;
  line-height: 30px;
  padding-top: 30px;
}
.h5_BG2 a{
  color:#000;
  border:1px solid #000;
  display: inline-block;
  padding:10px 30px;
  margin-top:60px;
}
.h5_BG1 h3{
  padding-top:10rem;
  font-size: 45px;
}
.H5_top{
  width:100%;
  text-align: center;
}
.H5_top h3{
  font-size: 24px;
  color:#2b2b2b;
  padding-top:100px;
  margin-bottom: 20px;
}
.h5_BG3 .H5_top h3{
  color: #fff;
}
.H5_top p{
  font-size: 22px;
  color:#cbcbcb;
  font-weight: 900;
}
.H5_top .line{
  display: inline-block;
  width:42px;
  height:4px;
  background: #ba131a;
  border-radius: 25px;
}
.h5_BG1 p{
  font-size: 20px;
  padding-top: 10px;
}
.h5_BG1 a{
  display: inline-block;
  padding:10px 30px;
  border:1px solid #fff;
  margin-top: 6rem;
  color: #fff;
}
.h5_BG1 a:hover{
  background: #fff;
  color:#000;
}
.h5_BG2 a:hover{
  background: #3e3e3e;
  color:#fff;
}
.h5_BG1 .Home_bannerBT,.h5_BG2 .Home_bannerBT{
  width:100%;
}
.Home_bannerBT span{
  width:15px;
}
.Home_bannerBT span img{
  width:100%;
}
.h5_BG5 p{
  font-size:19px;
  font-weight: 400;
}
.h5_BG5 .H5_top h3{
  color:#fff;
}
.h5_BG5 .h5_BG5_p{
  padding-top:15px;
}
.h5_BG5 .h5_BG5_a{
  margin-top: 150px;
  font-size: 14px;
}

.h5_BG6 h3{
  color:#000;
} 
